name: GitHub Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: ["master", "main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: rohithmuthusamy
          template: classic
          base: header, repositories, activity, community
          config_timezone: Asia/Kolkata
          filename: github-metrics.svg
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_achievements: yes
