name: Auto Update Projects

permissions:
  contents: write

on:
  schedule:
    - cron: "0 2 * * *"   # Daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install node-fetch

      - name: Generate Projects
        run: node scripts/generate-projects.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit Changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add README.md
          git commit -m "Auto update projects" || exit 0
          git push
