name: GitHub Metrics
on:
  schedule:
    - cron: "0 0 * * *" # Runs every day at midnight
  workflow_dispatch: # Allows manual trigger
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your Secret Token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: rohithmuthusamy
          template: classic
          base: header, repositories, activity, community
          config_timezone: Asia/Kolkata
          
          # Output File Name
          filename: github-metrics.svg

          # Languages Plugin
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
          
          # Habits Plugin
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_days: 14
          
          # Achievements Plugin
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: B
